*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.galeria-container{
    display: flex;
    flex-wrap: wrap;
}
.galeria-foto{
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    height: 20rem;
    padding: 1em;
    margin: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1px solid black ;

}
footer {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #070707ed;
}
.s2 {
    color: rgb(196, 26, 26);
}


